<div class="col-md-12">
  <ul class="nav nav-tabs">
    <li class="<%= @add %>" ><a href="/administration">Добавете ново издание</a></li>
    <li class="<%= @remove %>" ><a href="#remove-print" data-toggle="tab">Премахни издание</a></li>
    <li class="<%= @loaned %>" ><a href="/administration/loaned-copies">Невърнати книги</a></li>
  </ul>
</div>
<div class="tab-content">
	<div class="tab-pane active col-md-12">
		<%= erb template %>
	</div>
</div>
