<html>
  <head>
    <title><%= @title %></title>
  </head>
  <body>
  	<ul>
		<%= @navigation_links.map do |link|
		  class_string = " class=\"active\"" if link.active
		  "<li#{class_string}><a href=\"#{link.href}\">#{link.title}</a></li>"
		end.join %>
	</ul>
    <%= yield %>
  </body>
</html>
