<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">За всички времена</div>
    <div class="panel-body">
      <%= show_print_table @all_time_prints, false %>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">За последния месец</div>
    <div class="panel-body">
      <%= show_print_table @last_month_prints, true %>
    </div>
  </div>
</div>