
<div class="pull-left">
  <img src="img/lord-of-the-rings-book-cover.jpg" alt="Lord Of The Rings" />
</div>
<div class="pull-left from-left-1">
  <table class="table table-striped book-details">
    <tr>
      <th>Автори</th>
      <td><a href="#">George RR MarGin</a></td>
    </tr>
    <tr>
      <th>Издателство</th>
      <td>Издателство ФМИ</td>
    </tr>
    <tr>
      <th>Формат</th>
      <td>Книга</td>
    </tr>
    <tr>
      <th>Език</th>
      <td>Български</td>
    </tr>
    <tr>
      <th>Страници</th>
      <td>800</td>
    </tr>
    <tr>
      <th>Цена</th>
      <td>40</td>
    </tr>
    <tr>
      <th>Тагове</th>
      <td>Вътре във Филма, <br />Фантастика, <br />Якия булшит</td>
    </tr>
    <tr>
      <th>Рейтинг</th>
      <td>
        <span class="stars s-2.5" data-default='2.5'>
          2.5 stars
        </span>
      </td>
    </tr>
  </table>
</div>
<div class="pull-left from-left-1">
  <div class="well well-sm text-center">Свободни копия<div class="free-copies">13</div></div>
  <a href="#" class="btn btn-primary">резервирай</a>
  <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> добави в желани</a>
</div>
<div class="clearfix"></div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Описание</h3>
  </div>
  <div class="panel-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt semper condimentum. Donec rutrum ipsum non turpis interdum porta. Ut tempor interdum ullamcorper. Donec ultrices laoreet lacinia. Mauris bibendum, leo vel accumsan mattis, felis mauris aliquet tortor, sed suscipit dui quam id nisi. In a cursus sapien. Curabitur vitae tortor nisi. Fusce varius erat id gravida iaculis.

    Vestibulum fermentum felis sed lorem fermentum, vitae scelerisque nisl scelerisque. Etiam tincidunt auctor eros, viverra lobortis velit scelerisque vel. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras fermentum urna sapien, nec placerat lorem pharetra non. Quisque ac metus mauris. Sed a iaculis diam, sed tincidunt nisi. Fusce sed risus a nulla laoreet ultricies. Maecenas viverra metus mi, sit amet commodo purus mattis eleifend.
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Препоръки</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Потребител</th>
          <th>Рейтинг</th>
          <th>Коментар</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">Чичо Гошо</a></td>
          <td>
            <span class="stars s-2.5" data-default='2.5'>
              2.5 stars
            </span>
          </td>
          <td>Мега яката книга пичуе</td>
        </tr>
        <tr>
          <td><a href="#">Чичо Гошо</a></td>
          <td>
            <span class="stars s-2.5" data-default='2.5'>
              2.5 stars
            </span>
          </td>
          <td>Мега яката книга пичуе</td>
        </tr>
        <tr>
          <td><a href="#">Чичо Гошо</a></td>
          <td>
            <span class="stars s-2.5" data-default='2.5'>
              2.5 stars
            </span>
          </td>
          <td>Мега яката книга пичуе</td>
        </tr>
        <tr>
          <td><a href="#">Чичо Гошо</a></td>
          <td>
            <span class="stars s-1.5" data-default='1.5'>
              1.5 stars
            </span>
          </td>
          <td>Мега яката книга пичуе</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
