<form method="post" action="prints/search">
  <div class="form-group col-md-3">
    <label for="name">Име: </label>
    <input type="text" class="form-control" id="name" name="name" />
  </div>
  <div class="form-group col-md-3">
    <label for="author">Автор: </label>
    <input type="text" class="form-control" id="author" name="author" />
  </div>
  <div class="form-group col-md-3">
    <label for="tags">Тагове: </label>
    <input type="text" class="form-control" id="tags" name="tags"/>
  </div>
  <div class="form-group col-md-3">
    <label for="publisher">Издателство: </label>
    <input type="text" class="form-control" id="publisher" name="publisher"/>
  </div>
  <div class="form-group col-md-3">
    <button type="submit" class="btn btn-primary">Търси</button>
  </div>
</form>