<div class="col-md-2">
  <a href="#" class="thumbnail"><img src="/img/profile.png" alt="..." /></a>
  <h3 class="text-center user-name"><%= @user.name %></h3>
</div>

<div class="col-md-10">
<h3>Прочетени</h3>
<%= show_loans_table @user.read_prints, true, false %>
</div>
