<div class="row">
  <div class="col-md-4">
    <form method="post">
      <div class="form-group">
        <label for="username">Потребител:</label>
        <input type="text" class="form-control" id="username" name="username" />
      </div>
      <div class="form-group">
        <label for="password">Парола:</label>
        <input type="password" class="form-control" id="password" name="password" />
      </div>
      <input type="submit" class="btn btn-primary" value="Влез" />
    </form>
  </div>
</div>
