@import './shared';

.animated.fastest {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
}

.justify-flex-end {
  justify-content: flex-end;
}

body {
  padding: 3rem 0;
  font-size: 14px;
}

.button {
  &.is-xsmall {
    @include button-small;
    font-size: 0.75rem;
    height: 2em;

    &.is-icon-only {
      width: 24px;
      height: 24px;
      padding: 0;
    }
  }
}

.navbar {
  padding: 0 20px;
}

.navbar-item > .icon:not(:last-child) {
  margin-left: -0.25em;
  margin-right: 0.25em;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.table th,
.table td {
  vertical-align: middle;
}

.table.print-details {
  min-width: 400px !important;
}

.card-content .table {
  margin-bottom: 0;
}

.free-copies {
  border: 1px solid $danger;
  padding: 20px 40px;

  &.has-free-copies {
    border: 1px solid $success;
  }

  .free-copies-count {
    font-size: 3em;
  }
}

img.cover {
  height: 200px;
}

td.cover > img {
  height: 80px;
}

.ui-autocomplete {
  list-style: none;
  padding: 0;
  margin: 0;

  .ui-menu-item-wrapper {
    cursor: pointer;
    padding: 5px;
  }
}

.tab-pane {
  display: none;

  &.is-active {
    display: initial;
  }
}

/**
     CSS & HTML From @CSSWizardry's JSFiddle:
        http://jsfiddle.net/csswizardry/KL5Vs/
**/
.stars {
  display: block;
  width: 80px;
  background-position: 0 -16px;
  position: relative;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.stars,
.stars:after {
  height: 16px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAgCAIAAACU62+bAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAldJREFUeNqMVMuOEkEUPY0EQksHFBIHXKgxEBIW+gGYsHVhcOXCzfgp8wluTVjgxoQlP4C4x2QmhkAgRFagBmLzGKAJ2J6qAqaZ7mHm5qa4j3Nudd1bhWbbNtzy5ZlY3/90Z3we6P43rHpCe5W7Eb6f4TGE/vh4BwLL/6nhAYTSoHuMsBqL8ieAX+qJ3I1Bh2h2/QzTntBBTQQMICXRlDXQAabSTuRhPKVq9icgLlXf4dxC5hwYCvUhX8Jf4N7NaMgUAYTlSz6kT/GqhBZweTOBKQIIS5/KQx/nONCOLtF5/gGmF4FBpiT6sK1slO5F0GXKYw6jcwR2tiVVSUCmHOffT83EfdnB38AvGeHgHkEEV6ZrB14BXeIugH95vD3Hu54wLmRQx/6O7AiznhjN5Uu8ruHNV8RewHgiDLoMziVgezXUe2h/3vZKSqvFRiKTyWzLObL+q7Y6pF6vHxAcWY/3wPJTKWqf2x8Qyz+Uova5hdDv91k7IYUG3WsAbTKZMDEcDi3LUmi2IZ1Oi6O225qmGYaRTCaDwWA8Hqetlcvl0WgUkBIKhZiIRCJcxbgtazwec10sFispsVhMWy6XlUrFNM1sNuv3e7+J9XrdaDSi0WihUBBzYA1y5vN5KpVyc4judDq6rhPNncWh+UOHISaYPoK+6hKdXC7Hb91sNk4CXQaZUuiDtrJdiukkKFelrl9vNjQcDitjMBiIf5ZEgn1kkBEPAkfBtdvtspVsPG1+PVu8T3nsMJvNWJLnUwTOsVqtMnjwnfZOisVis9m0XcIgU3v3vwADALitWRkkbzItAAAAAElFTkSuQmCC);
}

.stars:after {
  content: '';
  background-position: 0 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.s-0:after {
  width: 0;
}
.s-0\.5:after {
  width: 8px;
}
.s-1:after {
  width: 16px;
}
.s-1\.5:after {
  width: 24px;
}
.s-2:after {
  width: 32px;
}
.s-2\.5:after {
  width: 40px;
}
.s-3:after {
  width: 48px;
}
.s-3\.5:after {
  width: 56px;
}
.s-4:after {
  width: 64px;
}
.s-4\.5:after {
  width: 72px;
}
.s-5:after {
  width: 80px;
}

.loading {
  background: url('data:image/gif;base64,R0lGODlhEAALAPQAAP///wAAANra2tDQ0Orq6gYGBgAAAC4uLoKCgmBgYLq6uiIiIkpKSoqKimRkZL6+viYmJgQEBE5OTubm5tjY2PT09Dg4ONzc3PLy8ra2tqCgoMrKyu7u7gAAAAAAAAAAACH+GkNyZWF0ZWQgd2l0aCBhamF4bG9hZC5pbmZvACH5BAALAAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAALAAAFLSAgjmRpnqSgCuLKAq5AEIM4zDVw03ve27ifDgfkEYe04kDIDC5zrtYKRa2WQgAh+QQACwABACwAAAAAEAALAAAFJGBhGAVgnqhpHIeRvsDawqns0qeN5+y967tYLyicBYE7EYkYAgAh+QQACwACACwAAAAAEAALAAAFNiAgjothLOOIJAkiGgxjpGKiKMkbz7SN6zIawJcDwIK9W/HISxGBzdHTuBNOmcJVCyoUlk7CEAAh+QQACwADACwAAAAAEAALAAAFNSAgjqQIRRFUAo3jNGIkSdHqPI8Tz3V55zuaDacDyIQ+YrBH+hWPzJFzOQQaeavWi7oqnVIhACH5BAALAAQALAAAAAAQAAsAAAUyICCOZGme1rJY5kRRk7hI0mJSVUXJtF3iOl7tltsBZsNfUegjAY3I5sgFY55KqdX1GgIAIfkEAAsABQAsAAAAABAACwAABTcgII5kaZ4kcV2EqLJipmnZhWGXaOOitm2aXQ4g7P2Ct2ER4AMul00kj5g0Al8tADY2y6C+4FIIACH5BAALAAYALAAAAAAQAAsAAAUvICCOZGme5ERRk6iy7qpyHCVStA3gNa/7txxwlwv2isSacYUc+l4tADQGQ1mvpBAAIfkEAAsABwAsAAAAABAACwAABS8gII5kaZ7kRFGTqLLuqnIcJVK0DeA1r/u3HHCXC/aKxJpxhRz6Xi0ANAZDWa+kEAA7AAAAAAAAAAAA');
  width: 16px;
  height: 11px;
}

html {
  font: 1em/1.5 Georgia, serif;
}
